APP_NAME=Masal
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://admin.dananir-iq.com
APP_LOCALE=ar
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

PORTAL_ADMIN_HOST=admin.dananir-iq.com
PORTAL_AGENTS_HOST=agents.dananir-iq.com
PORTAL_POS_HOST=pos.dananir-iq.com

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log

MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@dananir-iq.com
MAIL_FROM_NAME=Masal
